{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% block head %}{% endblock %}
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="Revisit-After" content="15 days"/>
	<meta name="Robots" content="All"/>
	<meta name="Keywords" content=""/>
	<meta name="Description" content=""/>
</head>
<body>

	<section>
		<div id="messages">
		{% block messages %}
			<p class="flash flash-error" id="js-error"></p>

			{% for message in messages %}
			<p class="flash flash-{{ message.tags }}">{{ message }}</p>
			{% endfor %}

		{% endblock %}
		</div>

		{% block content %}{% endblock %}
	</section>

{% block js %}

{% endblock js %}

</body>
</html>